{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<style>
    .login {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 150px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .center {
        text-align: center;
        margin: 0 auto;

    }
    .margin-top {
        margin-top: 10px;
    }

    .btn {
        width: 220px;
}
</style>

<div class="container-fluid">
    <div class = "login">
        <h1 class="center">Sign in</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <table class="center">
                <tr>
                    <td><input type="text" name="username" placeholder="Username" class="form-control margin-top"></td>
                </tr>

                <tr>
                    <td><input type="password" name="password" placeholder="Password" class="form-control margin-top"></td>
                </tr>
                <tr class="center">
                    <td><input class="btn btn-primary margin-top" type="submit" value="Sign in"></td>
                </tr>
            </table>
        </form>

        {% if messages %}
            
                {% for message in messages %}
                    <p class="center">{{ message }}</p>
                {% endfor %}
            
        {% endif %}

        <p class="center margin-top">Don't have an account? <a href="{% url 'study_tracker:register' %}">Sign up</a></p>
    </div>
</div>

{% endblock content %}
