{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  
<style>
    .register {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 150px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .center {
        text-align: center;
        margin: 0 auto;

    }
    .margin-top {
        margin-top: 10px;
    }

    .btn {
        width: 220px;
}
</style>

<div class="container-fluid">
    <div class = "register">
        <h1 class="center">Sign up</h1>  
            <form method="POST" >  
                {% csrf_token %}  
                <table class="center">
                <tr>
                    <td><input type="text" name="{{ form.username.name }}" placeholder="Username" class="form-control margin-top"></td>
                </tr>
                <tr>
                    <td><input type="password" name="{{ form.password1.name }}" placeholder="Password" class="form-control margin-top"></td>
                </tr>
                <tr>
                    <td><input type="password" name="{{ form.password2.name }}" placeholder="Confirm Password" class="form-control margin-top"></td>
                </tr>
                    <td><input class="btn btn-primary margin-top" type="submit" value="Submit"></td>
                </table>
            </form>

        {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
        {% endif %}

        <p class="center margin-top">Have an account? <a href="{% url 'study_tracker:login' %}">Sign in</a></p>
    </div>  
</div>

{% endblock content %}
